<!doctype html>
<html lang="en">

<head>
    <title>Active Jobs</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png" width="120" height="30" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                          <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Applied Jobs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4 text-center">Welcome User!
            <div>
                <p style="font-size:20px" class="text-center">Here are some Active Jobs, you can apply</p>
            </div>

        </h1>
        <!-- Project One -->
        <div id="maindiv" class=" row  ">
            <div class="col-md-7 ">

                <h3 class="my-3"><b>Job Description</b></h3>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Company Details</b></h5>
                        <h6>Company Name: <span><b>SquareBoat</b></span></h6>
                        <h6>City: <span><b>Gurgaon</b></span></h6>
                        <h6>Posted By: <span><b>This amazing Guy</b></span></h6>
                        <h6>Address: <span><b>1798, Basement, Sector 45, Gurugram, Haryana 122003</b></span></h6>
                        <h6>Skills Required:</b>
                            <div>
                                <span><span class="badge badge-primary">HTML</span>
                                <span class="badge badge-primary">CSS</span>
                                <span class="badge badge-primary">Javascript</span>
                                <span class="badge badge-primary">Node.js</span>
                                <span class="badge badge-primary">MongoDB</span>
                                <span class="badge badge-primary">Git</span></span>
                            </div>

                        </h6>






                        <hr>


                        <div>
                            <h5 class="card-text text-center"><b>Other Details:</b> </h5>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <div>
                                        <h5>Salary</h5>
                                        <h6>2000-5000 Rs.</h6>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h5>End Date</h5>
                                    <h6>23/10/2019</h6>
                                </div>
                                <div class="col-md-4">
                                    <h5>Experience</h5>
                                    <h6>Atleast 1 Year</h6>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>




            </div>
            <div class="col-md-5 ">
                <h3 class="my-3"><b>About company</b></h3>
                <p>Gurgaon's first maker space, 'Banaao - A Makers' Playground' is a multi-disciplinary innovation lab for students, enthusiasts, hobbyists, and DIYers. It's an arena where makers are provided with the access to state-of-the-art tools, machinery,
                    and equipment like 3D printers, digital cutters, etc. and spread 'Make in India' to local communities. It's a community-based organization where the environment is such that people collaborate among each other and create unimaginable
                    things, develop wonderful objects and, in the process, attain a sense of fulfillment such that they gleefully express.</p>
                <br>
                <div>
                    <h5>Role: <span><b>Software Engineer</b></span></h5>

                </div>


                <a class="btn float-right btn-primary " href="# ">Apply for this Job</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <!-- Project One -->
        <div id="maindiv" class=" row  ">
            <div class="col-md-7 ">

                <h3 class="my-3"><b>Job Description</b></h3>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Company Details</b></h5>
                        <h6>Company Name: <span><b>SquareBoat</b></span></h6>
                        <h6>City: <span><b>Gurgaon</b></span></h6>
                        <h6>Posted By: <span><b>This amazing Guy</b></span></h6>
                        <h6>Address: <span><b>1798, Basement, Sector 45, Gurugram, Haryana 122003</b></span></h6>
                        <h6>Skills Required:</b>
                            <div>
                                <span><span class="badge badge-primary">HTML</span>
                                <span class="badge badge-primary">CSS</span>
                                <span class="badge badge-primary">Javascript</span>
                                <span class="badge badge-primary">Node.js</span>
                                <span class="badge badge-primary">MongoDB</span>
                                <span class="badge badge-primary">Git</span></span>
                            </div>

                        </h6>






                        <hr>


                        <div>
                            <h5 class="card-text text-center"><b>Other Details:</b> </h5>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <div>
                                        <h5>Salary</h5>
                                        <h6>2000-5000 Rs.</h6>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h5>End Date</h5>
                                    <h6>23/10/2019</h6>
                                </div>
                                <div class="col-md-4">
                                    <h5>Experience</h5>
                                    <h6>Atleast 1 Year</h6>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>




            </div>
            <div class="col-md-5 ">
                <h3 class="my-3"><b>About company</b></h3>
                <p>Gurgaon's first maker space, 'Banaao - A Makers' Playground' is a multi-disciplinary innovation lab for students, enthusiasts, hobbyists, and DIYers. It's an arena where makers are provided with the access to state-of-the-art tools, machinery,
                    and equipment like 3D printers, digital cutters, etc. and spread 'Make in India' to local communities. It's a community-based organization where the environment is such that people collaborate among each other and create unimaginable
                    things, develop wonderful objects and, in the process, attain a sense of fulfillment such that they gleefully express.</p>
                <br>
                <div>
                    <h5>Role: <span><b>Software Engineer</b></span></h5>

                </div>


                <a class="btn float-right btn-primary " href="# ">Apply for this Job</a>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->

        <hr>




    </div>
    <!-- /.container -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>

</html>